{% extends 'core/base.html' %}
 {% block title %}
  Checkout
{% endblock %}
 {% block content %}
  <section class="bg-gray-300 rounded-xl px-6 py-4 w-full md:w-1/2 mx-auto">
    <h1 class="text-xl md:text-2xl text-center font-semibold mb-6">Checkout</h1>
    <form method="post">
        {% csrf_token %}

        {% for field in form %}
        <label for="{{ field.auto_id }}" class="text-lg md:text-xl mb-2 inline-block ml-2 after:content-['*'] after:text-red-500 after:ml-1 font-semibold">{{ field.label }} :</label>
        {{ field }}
      {% endfor %}

        <div class="grid grid-cols-12 w-full mt-4">
            <button class="col-span-12 px-6 py-3 font-semibold text-lg md:text-2xl rounded-xl bg-teal-500 hover:bg-teal-700 text-white mt-2" type="submit">Checkout</button>
          </div>
    </form>
  </section>
{% endblock %}
