{% extends "core/base.html" %}

{% block title %}About{% endblock title %}

{% block meta %}

<meta name="description" content="Petnet is the best online store to buy products.">
<meta name="author" content="Master"> 
<meta property="og:title" content="Petnet | About">
<meta property="og:type" content="article">
<meta property="og:url" content="http://petnet.com/about/">

{% endblock meta %}

{% block content %}

<h1 class="text-3xl bg-gray-500 text-orange-500 px-5 py-3" >About Page </h1>

{% endblock content %}