<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body class="min-h-screen px-6 py-4 mb-4 ">
    <section class="bg-slate-100 px-8 py-4 rounded-xl w-4/5 mx-auto">
      <h3 class="font-semibold text-lg md:text-2xl my-4 text-center text-black">Reset Your Password</h3>

      <div>
        <form method="post">
          {% csrf_token %}
          <div class="mb-4">
            <label for="id_new_password1" class="block mb-2 text-lg md:text-xl font-medium text-gray-900  px-2">New Password:</label>
            <input type="password"  name="new_password1" id="id_new_password1" required aria-describedby="helper-text-explanation" class="bg-white border border-gray-500 text-gray-900 text-lg md:text-xl rounded-lg focus:ring-indigo-500 focus:border-blue-500 block w-full px-6 py-4 dark:placeholder-gray-200 dark:focus:ring-indigo-500 dark:focus:border-blue-500 outline-none" placeholder="Enter Password:: " />
          </div>

          <div class="mb-4">
            <label for="id_new_password2" class="block mb-2 text-lg md:text-xl font-medium text-gray-900  px-2">New Confirm Password:</label>
            <input type="password" name="new_password2" id="id_new_password2" required aria-describedby="helper-text-explanation" class="bg-white border border-gray-500 text-gray-900 text-lg md:text-xl rounded-lg focus:ring-indigo-500 focus:border-blue-500 block w-full px-6 py-4 dark:placeholder-gray-200 dark:focus:ring-indigo-500 dark:focus:border-blue-500 outline-none" placeholder="Enter New Password:: " />
          </div>

          <div class="mt-0 mb-2">
            <button type="submit" class="px-6 py-4 rounded-xl font-semibold text-white bg-gray-500 hover:bg-gray-700 inline-block" id="reset">Reset Password</button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
